
# Run cfg
CONFIG__RUN__HOST="localhost"
CONFIG__RUN__PORT=8080

# Data base cfg
CONFIG__DB__HOST = "localhost"
CONFIG__DB__PORT = 5432
CONFIG__DB__USER = "postgres"
CONFIG__DB__PASSWORD = "admin" 
CONFIG__DB__NAME = "EffectiveMobile"

CONFIG__DB__ECHO = False
CONFIG__DB__ECHO_POOL = False
CONFIG__DB__POOL_SIZE = 5 
CONFIG__DB__MAX_OVERFLOW = 10

# Auth
CONFIG__AUTH__SECRET_KEY = "CmY1RvsAkV6EHolKHy4Of6kvT5Mn6bLSSRLzRVe9ixY"
CONFIG__AUTH__ALGORITHM = "HS256"
CONFIG__AUTH__BEARER_PATH = "/auth/login"
CONFIG__AUTH__ACCESS_TOKEN_EXPIRE_MINUTES = 30

# Api prefix
CONFIG__API__PREFIX = "/effective-mobile"
CONFIG__API__V1__PREFIX = "/v1"
CONFIG__API__V1__AUTH = "/auth"
CONFIG__API__V1__USER = "/user"
CONFIG__API__V1__ADMIN = "/admin"